{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block body %}
<h1>CONTACT</h1>

Hello Mr {{ mavariable }}

Voici le formulaire de Contact
{{  form(form)  }}

{% endblock %}
